*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f8f9fa;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #777;
  overflow-x: hidden; }

.hero {
  max-width: 130rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding: 6rem;
  column-gap: 6rem; }
  .hero_text {
    color: #212529;
    font-size: 1.1rem;
    line-height: 1.5; }
    .hero_text h1 {
      font-size: 3rem;
      margin-bottom: 1.5rem; }
  .hero_img {
    width: 100%;
    height: auto; }

@media (max-width: 57em) {
  .hero {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    padding: 3rem 2rem; } }

header {
  height: 5rem;
  background: #212529;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.logo {
  display: block;
  height: 4rem;
  z-index: 10; }

.main_nav--list {
  list-style: none;
  display: flex;
  gap: 3rem; }

.main_nav--link:link,
.main_nav--link:visited {
  text-decoration: none;
  display: inline-block;
  color: #f8f9fa;
  text-transform: uppercase;
  font-size: 1.2rem;
  position: relative;
  padding: 0.5rem;
  transition: all 0.5s linear;
  border-bottom: 0.12rem solid transparent; }

.main_nav--link:hover,
.main_nav--link:active {
  border-bottom: 0.12rem solid yellow; }

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 10; }

.icon-mobile-nav {
  color: #f8f9fa;
  height: 3rem;
  width: 3rem; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

.icon-mobile-nav[name="menu-outline"] {
  display: block; }

@media (max-width: 57em) {
  .main-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s linear;
    z-index: 10; }
  .main_nav--list {
    display: flex;
    flex-direction: column-reverse;
    text-align: center; }
  .btn-mobile-nav {
    display: block; }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none; }
  .nav-open .main-nav {
    opacity: 0.99;
    visibility: visible;
    transform: translateX(0);
    pointer-events: auto; } }
